<html data-lt-installed="true">
  <%= partial "partials/head" %>
  <body>
    <section class="post-list post-content"><div class="post-data">
      <%= yield %>
    </section>
  </body>
  <%= partial "partials/footer" %>
</html>

