<footer>
  <section class="footer">
    <div class="footer-inner row">
      <div class="col-md-12">
        <p class="description">
          Just a dev's thoughts
        </p>
      </div>
      <div class="col-md-12">
        <a href="/">Home</a>&nbsp;&nbsp;
        <a href="/about">About</a>&nbsp;&nbsp;
        <a href="/contact">Contact</a>&nbsp;&nbsp;
      </div>
    </div>
  </section>

  <section class="copyright">© 2022</section>

  <%= javascript_include_tag "jquery-1.12.0.min.js" %>
  <%= javascript_include_tag "jquery.fitvids.js" %>
  <%= javascript_include_tag "bootstrap/bootstrap.min.js" %>
  <%= javascript_include_tag :application %>
</footer>
