<footer>
  <section class="footer">
    <div class="footer-inner row">
      <div class="col-md-12">
        <p class="description">
          Blog description goes here.
        </p>
      </div>
      <div class="col-md-12">
        <a href="#">Home</a>&nbsp;&nbsp;
        <a href="#">About</a>&nbsp;&nbsp;
        <a href="#">Contact</a>&nbsp;&nbsp;
      </div>
    </div>
  </section>

  <section class="copyright">© 2022</section>
</footer>
