<head>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">

  <meta http-equiv="X-UA-Compatible" content="IE=edge">


  <title>Raul Coan | <%= current_page.data.title %></title>
  <meta name="description" content="Everything that is (un)relevant from this developer's mind">

  <meta name="HandheldFriendly" content="True">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css?family=Montserrat:700" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css?family=Radley:400,400italic" rel="stylesheet" type="text/css">
  <link href="https://fonts.googleapis.com/css2?family=Roboto+Serif:ital,wght@0,200;0,400;0,600;1,200;1,400;1,600&display=swap" rel="stylesheet">
  <%= stylesheet_link_tag :application %>
</head>


<header class="header-block row">
  <div class="blog-title">
    <a href="/">
      <h1>Raul Coan</h1>
    </a>
  </div>
</header>

