---
title: About
---

<section class="post-list post-content">
  <div class="post-data content">
    <h1 id="title">About me</h1>
    <br>
    <p>
      &ensp; Well, as you may have noticed I'm Raul, born in 1997 (with a beautiful face that seems more like it was 87), living in a small city near São Paulo and creating software since I was thirteen.
    </p>
    <p>
      &ensp; I am called by many names, Software Engineer, System analyst, Code Ninja, the IT guy, mama's boy. But Software developer will do, if you're uncertain.
    </p>
    <p>
      &ensp; If you spend time enough with me, you will notice how obsessed I'm with otters (They are so cute!), that I (<strike>try to</strike>) ride my bike with my fiancee and that I absolutly love japanese cuisine (And also other things)
    </p>
    <p>
      &ensp; About my experience, you can find more about it in my linkedin page, but I like coding, Ruby, Elixir and trying to not judge ((((((clojure)))))) <strike>but I love it</strike>.
      <br>Oh, and I also love to talk, pretty much every chance I have to... I kinda feel sorry for my peers.
    </p>
  </div>
</section>
