---
title: Contact
---

<section class="post-list post-content">
  <div class="post-data content">
    <h1 id="title">Contact me</h1>
    <br>
    <p>
      &ensp; You can find me on twitter by @rvcoan (But to be honest, I probably won't see since I practically don't use twitter. at all)
    </p>
    <p>
      &ensp; Or you may want to mail me. Too bad.
    </p>
    <p>
      &ensp; Alternatively, you can <a href="https://www.linkedin.com/in/raul-victor-coan-283182a6" target="_blank">find me also on Linkedin</a>. And hey, I will answer there pretty fast :)
    </p>
    <p>
      &ensp; Btw, <a href=" https://github.com/rcoan" target="_blank">here is my github</a> :)
    </p>
  </div>
</section>
