---
title: Home
---

<section class="post-list row">
  <!-- Blog posts list -->
  <% blog.articles[0...5].each do |article| %>
    <div class="col-xs-12 col-sm-12 col-lg-12 post-line">
      <span class="post-titles"><a href="<%= article.url %>"><h1><%= article.title %></h1></a></span>
      <time class="dates"><br><%= article.date.strftime('%b %e %Y') %></time>
    </div>
  <% end %>

  <!-- Pagination -->
  <div class="pagination-wrapper">
    <nav class="pagination" role="pagination">
          <a class="older-posts" href="#"> <i class="fa-solid fa-chevron-down"></i> </a>
    </nav>
  </div>
</section>



